///////////////////
// NAV 
.nav{
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid  var(--color-white);
    text-transform: uppercase;
    margin: 1rem 4rem;;
    border-radius: 10px;
    background-color: transparent;

    @media screen and(max-width: 700px) {
      justify-content: space-between;
    }
    &__link{
      text-decoration: none;
      padding: 2rem;
      color:  var(--color-white);
      
    
      &:hover{
        color: #7AD7F0;
        background-color:  var(--color-white);
      }
    }


   &__selected{
     background-color:  var(--color-white);
     color: #7AD7F0;
     
   }
  }