.search {
    height: 24rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__form {
      display: flex;
      justify-content: center;
      text-align: center;
      input {
        font-size: 1.8rem;
        color: var(--color-grey-dark-2) !important;
        background-color: var(--color-white);
        width: 60rem;
        padding: 2.4rem 1rem;
        border: none;
        &::-webkit-input-placeholder{
          font-weight: 300;
          color: var(--color-grey-light-4);
        }
      }
  
      &:focus{
        outline: none;
        background-color: var(--color-white);
      }
    }

    &__button {
      font-size: 2rem;
      background-color: #00a4e4;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 2.4rem;
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-white);
    }

    &__error{
      background-color: #ffe8e6;
      padding: 1rem;;
      color: #9f3a38;
      
    }
  }