.day{
  
    font-size: 1.6rem;
    margin: 6rem  1rem;
}
.details{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    color: var(--color-gray-dark-2);     
    background-color: var(--color-white);
    border-radius: 10px;;
    margin: 1rem 3rem;
    
    &__date{
        flex: 0 0 8%;

        @media screen and (max-width: 800px) {
            flex: 0 0 20%;
        }
    }

    &__temp{
        flex: 0 0 10%;
        display: flex;
        align-items: center;
        
        
    }

    &__maxTemp{
        color: black;
        font-weight: 700;
        font-size: 1.8rem;
    }

    &__minTemp{
        font-size: 1.4rem;
    }
    
    &__summary{
        flex: 0 0 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }
    &__icon{

        width: 6rem;
        height: 6rem;
 
    }
    &__text{
        margin-left: 1rem;
    }

    &__precip{
        flex:  0 0 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }   

    &__wind{
        flex: 0 0 12%;
        display: flex;
        align-items: center;
        @media screen and(max-width: 800px) {
            flex: 0 0 16%;
        }
    }
}